.back {
    background-image: url("https://www.teahub.io/photos/full/363-3632655_photo-wallpaper-clouds-nature-the-sky-clear-weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}